<div class="wrapper">
    <h1>Phonebook</h1>

    <div class="button-holder">
        <a type="button" href="/create" class="button"><i class="fas fa-user-plus"></i>New Entry</a>
    </div>

    <form action="/search" method="POST">
        <div class="searchBox">
            <i class="fas fa-search"></i>
            <input type="search" name="searchBox" id="searchItem">
            <input type="submit">
        </div>
    </form>

    <div class="content">
        <div class="header">
            <div class="mountaineer-label">Name</div>
            <div class="mountaineer-label">Telephone</div>
            <div class="mountaineer-label">Email Address</div>
            <div class="actions-label">Actions</div>
        </div>
        <div class="main">
            {{#each mountaineers}}
            <div class="mountaineer">
                <div class="mountaineer-item">
                    {{name}}
                </div>
                <div class="mountaineer-item">
                    {{telephoneNumber}}
                </div>
                <div class="mountaineer-item">
                    {{emailAddress}}
                </div>
                <div class="mountaineer-item mountaineer-actions">
                    <a type="button" href="/edit/{{_id}}" class="mountaineerbutton"><i
                            class="fas fa-user-edit"></i>Edit</a>
                    <a type="button" href="/delete/{{_id}}" class="mountaineerbutton"><i
                            class="fas fa-trash-alt"></i>Remove</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/138bf39034.js" crossorigin="anonymous"></script>